@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">Roller</div>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
        @if (Model.Count()==0)
        {
            <tr>
                <td colspan="3">Rol Yok</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        @using (Html.BeginForm("Delete", "RoleAdmin", new { id = item.Id }))
                        {
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            @Html.ActionLink("Güncelle", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" });
                        }

                    </td>
                </tr>
            }
        }
    </table>
</div>

